<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main-content">
        <div id="feature-box">
            <h1>Weather Dashboard</h1>
            <div id="search-box">
                <form action="/weather" method="GET">
                    <label for="city_name">Search City:</label>
                    <input type="text" id="city_name" name="city_name" required>
                    <input type="submit" value="SEARCH">
                </form>
            </div>
            <div id="weather-results">
                <p>{{ city_name }}</p>
                {% if city_weather %}
                <p> <strong>Temperature:</strong> {{ city_weather.temperature | round(1) }}ºC</p>
                <p> <strong>Min. Temperature:</strong> {{ city_weather.min_temp | round(1) }}ºC</p>
                <p> <strong>Max. Temperature:</strong> {{ city_weather.max_temp | round(1) }}ºC</p>
                <p> <strong>Humidity:</strong> {{ city_weather.humidity }}%</p>
                <p> <strong>Wind Speed:</strong> {{ city_weather.winds }} m/s</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>