<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main-content">
        <div id="feature-box">
            <h1>Weather Dashboard</h1>
            <div id="search-box">
                <form action="/weather" method="GET">
                    <label for="city_name">Search City:</label>
                    <input type="text" id="city_name" name="city_name" required>
                    <input type="submit" value="SEARCH">
                </form>
            </div>
            <div id="weather-results">
                
                {% if city_weather %}
                <div class="card" id="city"><p>{{ city_name }}</p>
                    <p><img src="https://flagcdn.com/w40/{{ city_weather.city_country | lower }}.png" alt="country-icon"></p></div>
                <div class="card"><p> <strong>Temperature:</strong> {{ city_weather.temperature | round(1) }}ºC <img src="https://openweathermap.org/img/wn/{{ city_weather.weather_icon }}@2x.png" alt="weather-icon"></p></div>
                <div class="card"><p> <strong>Weather Condition:</strong> {{ city_weather.weather_description | capitalize }}</p></div>
                <div class="card"><p> <strong>Humidity:</strong> {{ city_weather.humidity }}%</p></div>
                <div class="card"><p> <strong>Wind Speed:</strong> {{ city_weather.winds }} m/s</p></div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>